.cover{
    width:100%;
}
.project-page{
    color:white;
}

.description{

    background-color: rgba(0,0,0,0.6);
    width:100%;
    padding:20px;
    height:200px;
}
img{
    width:100%;
}
.skills{
    display:flex;
    align-items:baseline;
    
    justify-content: flex-start;
}

.line{
    width:95%;
    height:5px;
    border-radius: 100px;
    margin-left:10px;
    background-color: rgba(255,255,255,0.4);
}

.skills-container{
    background-color: rgba(0,0,0,0.6);
    padding:20px;
    display:flex;
    align-items:center;
    justify-content: space-around;
}
.skills-container > div  {
 transition: 0.5s;

}
.skills-container > div:hover{
    color: rgb(9, 75, 137);
    text-decoration: underline;
}