.footer{
    position :fixed;
    width:60%;
    margin:auto;
    bottom:30px;
    background:whitesmoke;
    border-radius:50px;
    box-shadow: 2px 3px 2px 0px rgba(0,0,0,0.2),2px 1px 2px 2px rgba(0,0,0,0.3);
    display:flex;
    align-items: center;
   justify-content: space-around;
}
.social > button {
    width:70px;
    height:70px;
    border-radius: 50%;
}
.github-icon{
    color:rgb(1,1,1);
    font-size:40px !important;
}