.hero-section{
    width:100%;
    background-color: var(---hero-color);
}

.hero-left{
    display:flex;
    align-items:flex-start;
    justify-content: flex-start;
    flex-direction: column;
    width:75%;
    padding:20px;
    margin:auto;
   background-color: transparent;
   color:white;
}
.hero-image{
    padding:10px;
}

.hero-image >img{
    width:300px;
   border-radius:4px;
   box-shadow:2px 1px 1px 1px rgba(0,0,0,0.2);
   border-radius:2000px;
}


.hero-text{
    padding:20px;

    max-height:250px;
}
.hero-text > p {
    font-size:var(--hero-text_size);
    letter-spacing:2.5px;
    line-height:30px;
}

.hero-text::-webkit-scrollbar {
    width: 10px;

  }
  
  /* Track */
  .hero-text::-webkit-scrollbar-track {
    background: rgba(255,255,255,0.1);
    border-radius:5px 5px 5px 5px;
  }
  
  /* Handle */
  .hero-text::-webkit-scrollbar-thumb {
    background: rgba(255,255,255,0.5);
    border-radius:5px 5px 5px 5px;
    cursor:pointer;
  }
  
  /* Handle on hover */
  .hero-text::-webkit-scrollbar-thumb:hover {
    background: rgba(255,255,255,0.8);
  }



@media  (max-width:768px){
    .hero-content{
        margin-top:70px;
        width:380px;
        flex-direction:column;
    }
}