.hero-section{
    display:flex;
    align-items:center;
    justify-content: center;
    width:700px;
    padding:20px;
    margin:auto;
   background-color: var(---hero-color);
   color:white;
}
.hero-image{
    padding:10px;
}

.hero-image >img{
    width:300px;
   border-radius:4px;
   box-shadow:2px 1px 1px 1px rgba(0,0,0,0.2);
}

@media  (max-width:768px){
    .hero-section{

        width:380px;
        flex-direction:column;
    }
}