.project-details{
   position:fixed;
   top:50%;
   left:50%;
   transform: translate(-50%,-60%);
    width:90%;
    max-width:800px;
    height:80%;
    max-height:600px;
    background-color:rgba(255,255,255,0.9);
    border-radius:25px;
    overflow: hidden;
}
.project-details > p {
    padding:15px;
    font-size:25px;
    font-weight:400;
}

.project-details > div {
    width:100%;
    display:flex;
    align-items: center;
    justify-content: space-around;
}