.skill-porto{
    width:100%;
    height:600px;
    display:flex;
    align-items: center;
   justify-content: center;
    color:white;
    margin-top:20px;
 
 }
 .skill-porto-content{
     width:95%;
     height:95%;
     border-radius:25px;
     background-color: rgba(255,255,255,0.01);
     border:1px solid rgba(255, 255, 255, 0.2);
    overflow-y: scroll;
 }
 .skill-title >img{
     width:90px;
 }
 .skill-title{
     display: flex;
     align-items: center;
     justify-content: center;
     padding:10px;
     background-color: rgba(255,255,255,0.05);
     border-radius:20px 20px 0 0 ;
 }
 .skill-title:hover{
     background-color: rgba(255,255,255,0.2);
 }
 .skill-porto-projects{
     display:flex;
     align-items: flex-start;
     justify-content: space-around;
     flex-wrap: wrap;
     padding:20px;
 
 }
 
 
 
 
 
 .skill-porto-content::-webkit-scrollbar {
     width: 10px;
 
   }
   
   /* Track */
   .skill-porto-content::-webkit-scrollbar-track {
     background: rgba(255,255,255,0.1);
     border-radius:5px 5px 5px 5px;
   }
   
   /* Handle */
   .skill-porto-content::-webkit-scrollbar-thumb {
     background: rgba(255,255,255,0.5);
     border-radius:5px 5px 5px 5px;
     cursor:pointer;
   }
   
   /* Handle on hover */
   .skill-porto-content::-webkit-scrollbar-thumb:hover {
     background: rgba(255,255,255,0.8);
   }
 .skill-porto-projects-section{
   display:flex;
   align-items: flex-start;
   justify-content: space-between;
 }
 .controller-left,.controller-right{
   height:440px !important;
   background-color: rgba(0,0,0,0.2) !important;
   border:1px solid rgba(255,255,255,0.4) !important;
 
 }
 .controller-left{
   border-left: none !important;
   border-top-right-radius:25px !important;
   border-bottom-right-radius:25px !important;
   border-top-left-radius:0px !important;
   border-bottom-left-radius:0px !important;
 }
 .controller-right{
   border-right: none !important;
 
   border-top-left-radius:25px !important;
   border-bottom-left-radius:25px !important;
   border-top-right-radius:0px !important;
   border-bottom-right-radius:0px !important;
 }