.time-line{
 position:fixed; 

 width:5px;
 height:80%;
 background-color: transparent;
 left:35px;
 top: 50%;
 transform: translate(0, -50%);
 display:flex;

 flex-direction: column;
 justify-content: center;
}
.whole-time-line{
    height:100%;
    border-radius:2px 2px 2px 2px;
    background-color: rgba(245, 245, 245, 0.362);
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.whole-time-line > img {
width:48px;

}
.in-active{
    opacity:0.3;
}
.active{
    opacity:1;
}
@media (max-width:768px){
    .time-line{
        display:none;
        height:5px;
        width:100%;
        left:0;
        top:35px;
        flex-direction: row;
    }
    .whole-time-line{
        width:80%;
        flex-direction: row;
      
    }
    
    
}