.time-line{
 position:fixed;
 width:5px;
 height:100%;
 background-color: transparent;
 left:35px;
 top:0px;
 display:flex;
 flex-direction: column;
 justify-content: center;
}
.whole-time-line{
    height:80%;
    border-radius:2px 2px 2px 2px;
    background-color: rgba(245, 245, 245, 0.362);
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.whole-time-line > img {
width:48px;
opacity:0.3;
}
@media (max-width:768px){
    .time-line{
        height:5px;
        width:100%;
        left:0;
        top:35px;
        flex-direction: row;
    }
    .whole-time-line{
        width:80%;
        flex-direction: row;
      
    }
}